* {
  padding: 0;
  margin: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html, body {
  height: 100%;
}

a {
  text-decoration: none;
}

blockquote {
  padding-left: 16px;
}

.site {
  overflow: scroll;
  height: 100%;
}

.content {
  margin: 0 auto;
}

.content:before, .content:after {
  clear: both;
  content: ' ';
  display: table;
}

@media screen and (min-width: 320px) and (max-width: 480px) {

  
  
  .content {
    max-width: 480px;
  }

}

@media screen and (min-width: 481px) {

  
  
  .content {
    max-width: 760px;
  }

}

@media screen and (min-width: 1024px) {

  
  
  .content {
    max-width: 1224px;
  }

}

@media screen and (min-width: 1824px) {

  
  
  .content {
    max-width: 1824px;
  }

}

.footer {
  margin: 0 auto;
}

.footer:before, .footer:after {
  clear: both;
  content: ' ';
  display: table;
}

@media screen and (min-width: 320px) and (max-width: 480px) {

  
  
  .footer {
    max-width: 480px;
  }

}

@media screen and (min-width: 481px) {

  
  
  .footer {
    max-width: 760px;
  }

}

@media screen and (min-width: 1024px) {

  
  
  .footer {
    max-width: 1224px;
  }

}

@media screen and (min-width: 1824px) {

  
  
  .footer {
    max-width: 1824px;
  }

}

.post-title {
  padding: 25.0px 0;
}

.post-content p {
  margin: 20.0px 0;
}

.post-content pre {
  overflow-x: scroll;
}

@media screen and (min-width: 320px) and (max-width: 480px) {

  
  
  
  
   .post {
    margin-left: 8.333333333333332%;
  }
  
   .post {
    width: 83.33333333333334%;
    padding-right: 15px;
    padding-left: 15px;
    min-height: 1px;
    position: relative;
    float: left;
  }

}

@media screen and (min-width: 481px) {

  
  
  
  
   .post {
    margin-left: 8.333333333333332%;
  }
  
   .post {
    width: 83.33333333333334%;
    padding-right: 15px;
    padding-left: 15px;
    min-height: 1px;
    position: relative;
    float: left;
  }

}

@media screen and (min-width: 1024px) {

  
  
  
  
   .post {
    margin-left: 16.666666666666664%;
  }
  
   .post {
    width: 66.66666666666666%;
    padding-right: 15px;
    padding-left: 15px;
    min-height: 1px;
    position: relative;
    float: left;
  }
  
  
  
  
  
   .footer .contact {
    margin-left: 16.666666666666664%;
  }
  
   .footer .contact {
    width: 66.66666666666666%;
    padding-right: 15px;
    padding-left: 15px;
    min-height: 1px;
    position: relative;
    float: left;
  }

}

@media screen and (min-width: 1824px) {

  
  
  
  
   .post {
    margin-left: 25.0%;
  }
  
   .post {
    width: 50.0%;
    padding-right: 15px;
    padding-left: 15px;
    min-height: 1px;
    position: relative;
    float: left;
  }

}

body {
  font-family: "Gentium Basic", serif;
}

blockquote {
  font-style: italic;
  font-family: "Gentium Basic", serif;
}

code {
  font-family: Courier, monospace;
}

.site-title {
  text-transform: uppercase;
}

.site-title a {
  color: inherit;
}

.post-date {
  text-align: center;
  font-family: "Gentium Basic", serif;
  font-style: italic;
}

.post-title {
  font-family: "Poiret One", sans-serif;
  font-weight: 100;
  text-align: center;
}

.post-content {
  font-family: "Gentium Basic", serif;
}

.post-content p {
  text-align: justify;
}

@media screen and (min-width: 320px) and (max-width: 480px) {

  
  
   .post-title {
    font-size: 48.828125px;
  }
  
   .post-date {
    font-size: 20.0px;
  }
  
   .post-content {
    line-height: 31.25px;
    font-size: 20.0px;
  }
  
   .post-content code {
    font-size: 16px;
  }
  
   pre {
    line-height: 25.0px;
    font-size: 16px;
  }

}

@media screen and (min-width: 481px) {

  
  
   .post-title {
    font-size: 48.828125px;
  }
  
   .post-date {
    font-size: 20.0px;
  }
  
   .post-content {
    line-height: 31.25px;
    font-size: 20.0px;
  }
  
   .post-content code {
    font-size: 16px;
  }
  
   pre {
    line-height: 25.0px;
    font-size: 16px;
  }

}

@media screen and (min-width: 1024px) {

  
  
   .post-title {
    font-size: 76.2939453125px;
  }
  
   .post-date {
    font-size: 25.0px;
  }
  
   .post-content {
    line-height: 39.0625px;
    font-size: 25.0px;
  }
  
   .post-content code {
    font-size: 20.0px;
  }
  
   pre {
    line-height: 25.0px;
    font-size: 16px;
  }

}

@media screen and (min-device-width: 320px) and (max-device-width: 568px) {

  
  
   .post-title {
    font-size: 39.0625px;
  }
  
   .post-date {
    font-size: 16px;
  }
  
   .post-content {
    line-height: 20.0px;
    font-size: 12.8px;
  }
  
   .post-content code {
    font-size: 11.264px;
  }
  
   pre {
    line-height: 20.0px;
    font-size: 12.8px;
  }

}

.site {
  background-color: #fdfdf6;
  color: #2f3b1c;
  box-shadow: inset 0 0 95.367431640625px #f2f0b5, inset 0 0 149.01161193847656px #f6f4cb;
  -moz-box-shadow: inset 0 0 95.367431640625px #f2f0b5, inset 0 0 149.01161193847656px #f6f4cb;
  -webkit-box-shadow: inset 0 0 95.367431640625px #f2f0b5, inset 0 0 149.01161193847656px #f6f4cb;
}

a {
  color: #b15c35;
}

a:hover {
  color: #894829;
}

blockquote {
  border-left: 4px solid #2f3b1c;
}

.post-content p code {
  background-color: #faf9e1;
  color: #3d4c24;
}

.highlight {
  background-color: #fbfbe9;
  padding: 18.0px;
}

.highlight .k {
  font-weight: bold;
  color: #3d4c24;
}

.highlight .kd {
  font-weight: bold;
  color: #3d4c24;
}

.highlight .c, .highlight .cm, .highlight .cp, .highlight .c1, .highlight .cs {
  font-style: italic;
  color: #4b5e2c;
}

.highlight .s, .highlight .s2, .highlight .sx {
  color: #b15c35;
}

.highlight .ss {
  color: #526435;
}