* {
  padding: 0;
  margin: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html, body {
  height: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

blockquote {
  padding-left: 16px;
}

#home {
  padding-top: 48.828125px;
  margin: 0 auto;
}

#home:before, #home:after {
  clear: both;
  content: ' ';
  display: table;
}

@media screen and (min-width: 320px) and (max-width: 480px) {

  
  
  #home {
    max-width: 480px;
  }

}

@media screen and (min-width: 481px) {

  
  
  #home {
    max-width: 760px;
  }

}

@media screen and (min-width: 1024px) {

  
  
  #home {
    max-width: 1224px;
  }

}

@media screen and (min-width: 1824px) {

  
  
  #home {
    max-width: 1824px;
  }

}

#post {
  padding-top: 25.0px;
  margin: 0 auto;
}

#post:before, #post:after {
  clear: both;
  content: ' ';
  display: table;
}

@media screen and (min-width: 320px) and (max-width: 480px) {

  
  
  #post {
    max-width: 480px;
  }

}

@media screen and (min-width: 481px) {

  
  
  #post {
    max-width: 760px;
  }

}

@media screen and (min-width: 1024px) {

  
  
  #post {
    max-width: 1224px;
  }

}

@media screen and (min-width: 1824px) {

  
  
  #post {
    max-width: 1824px;
  }

}

.post-title {
  padding: 25.0px 0;
}

.post-content p {
  margin: 20.0px 0;
}

.post-content pre {
  overflow-x: scroll;
}

@media screen and (min-width: 320px) and (max-width: 480px) {

  
  
  
  
  
  
   .post {
    width: 83.33333333333334%;
    padding-right: 15px;
    padding-left: 15px;
    min-height: 1px;
    position: relative;
    float: left;
  }
  
   .post {
    margin-left: 8.333333333333332%;
  }

}

@media screen and (min-width: 481px) {

  
  
  
  
  
  
   .post {
    width: 83.33333333333334%;
    padding-right: 15px;
    padding-left: 15px;
    min-height: 1px;
    position: relative;
    float: left;
  }
  
   .post {
    margin-left: 8.333333333333332%;
  }

}

@media screen and (min-width: 1024px) {

  
  
  
  
  
  
   .post {
    width: 66.66666666666666%;
    padding-right: 15px;
    padding-left: 15px;
    min-height: 1px;
    position: relative;
    float: left;
  }
  
   .post {
    margin-left: 16.666666666666664%;
  }

}

@media screen and (min-width: 1824px) {

  
  
  
  
  
  
   .post {
    width: 50.0%;
    padding-right: 15px;
    padding-left: 15px;
    min-height: 1px;
    position: relative;
    float: left;
  }
  
   .post {
    margin-left: 25.0%;
  }

}

body {
  font-family: "Della Respira", "Gentium Basic", serif;
}

#home .site-title {
  text-align: center;
  line-height: 76.2939453125px;
  font-size: 76.2939453125px;
}

#post .site-title {
  text-align: center;
}

blockquote {
  font-style: italic;
  font-family: "Della Respira", "Gentium Basic", serif;
}

code {
  font-family: Consolas, "Ubuntu Mono", Courier, monospace;
}

.site-title {
  line-height: 39.0625px;
  text-transform: uppercase;
  font-size: 25.0px;
  font-family: "Poiret One", sans-serif;
}

.site-title a {
  color: inherit;
}

.post-date {
  text-align: center;
  font-family: "Della Respira", "Gentium Basic", serif;
}

.post-title {
  font-family: "Poiret One", sans-serif;
  font-weight: 100;
  text-align: center;
}

.post-content {
  font-family: "Della Respira", "Gentium Basic", serif;
}

.post-content p {
  text-align: justify;
}

@media screen and (min-width: 320px) and (max-width: 480px) {

  
  
   .post-title {
    font-size: 48.828125px;
  }
  
   .post-date {
    font-size: 20.0px;
  }
  
   .post-content {
    line-height: 31.25px;
    font-size: 20.0px;
  }
  
   .post-content code {
    font-size: 16px;
  }
  
   pre {
    line-height: 25.0px;
    font-size: 16px;
  }

}

@media screen and (min-width: 481px) {

  
  
   .post-title {
    font-size: 48.828125px;
  }
  
   .post-date {
    font-size: 20.0px;
  }
  
   .post-content {
    line-height: 31.25px;
    font-size: 20.0px;
  }
  
   .post-content code {
    font-size: 16px;
  }
  
   pre {
    line-height: 25.0px;
    font-size: 16px;
  }

}

@media screen and (min-width: 1024px) {

  
  
   .post-title {
    font-size: 76.2939453125px;
  }
  
   .post-date {
    font-size: 25.0px;
  }
  
   .post-content {
    line-height: 39.0625px;
    font-size: 25.0px;
  }
  
   .post-content code {
    font-size: 20.0px;
  }
  
   pre {
    line-height: 25.0px;
    font-size: 16px;
  }

}

@media screen and (min-device-width: 320px) and (max-device-width: 568px) {

  
  
   .post-title {
    font-size: 39.0625px;
  }
  
   .post-date {
    font-size: 16px;
  }
  
   .post-content {
    line-height: 20.0px;
    font-size: 12.8px;
  }
  
   .post-content code {
    font-size: 11.264px;
  }
  
   pre {
    line-height: 20.0px;
    font-size: 12.8px;
  }

}

body {
  background-color: #fdfdf6;
  color: #2f3b1c;
}

#post .site-title {
  color: #82a34d;
}

#post .site-title:hover {
  color: #2f3b1c;
}

a {
  color: #b15c35;
}

a:hover {
  color: #894829;
}

blockquote {
  border-left: 4px solid #2f3b1c;
}

.post-date {
  color: #66803c;
}

.post-content p code {
  background-color: #faf9e1;
  color: #3d4c24;
}

.highlight {
  background-color: #fbfbe9;
  padding: 18.0px;
}

.highlight .k {
  font-weight: bold;
  color: #3d4c24;
}

.highlight .kd {
  font-weight: bold;
  color: #3d4c24;
}

.highlight .c, .highlight .cm, .highlight .cp, .highlight .c1, .highlight .cs {
  font-style: italic;
  color: #4b5e2c;
}

.highlight .s, .highlight .s2, .highlight .sx {
  color: #b15c35;
}

.highlight .ss {
  color: #526435;
}

.toc {
  width: 66.66666666666666%;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 1px;
  position: relative;
  float: left;
}

.toc {
  margin-left: 16.666666666666664%;
}

.toc .toc-title {
  padding: 48.828125px;
  text-align: center;
  font-size: 31.25px;
  font-weight: normal;
}

.toc .toc-entries {
  overflow-x: hidden;
  padding: 0;
  width: 100%;
}

.toc .toc-entries .toc-entry:before {
  content: '. . . . . . . . . . . . . . . . . . . . ' '. . . . . . . . . . . . . . . . . . . . ' '. . . . . . . . . . . . . . . . . . . . ' '. . . . . . . . . . . . . . . . . . . . ' '. . . . . . . . . . . . . . . . . . . . ' '. . . . . . . . . . . . . . . . . . . . ' '. . . . . . . . . . . . . . . . . . . . ' '. . . . . . . . . . . . . . . . . . . . ' '. . . . . . . . . . . . . . . . . . . . ' '. . . . . . . . . . . . . . . . . . . . ';
  white-space: nowrap;
  width: 0;
  float: left;
  line-height: 26.25px;
  font-family: "Poiret One", sans-serif;
  color: #82a34d;
}

.toc .toc-entries .toc-entry .toc-entry-key {
  padding-right: 12.8px;
  line-height: 20.0px;
  font-size: 25.0px;
  font-family: "Poiret One", sans-serif;
  background: #fdfdf6;
}

.toc .toc-entries .toc-entry .toc-entry-val {
  padding-left: 16px;
  float: right;
  line-height: 25.0px;
  font-size: 18.0px;
  background: #fdfdf6;
  color: #4b5e2c;
}